@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
  user-select: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Variables */
:root {
  --dark-color: #222;
  --background: #b5a983;
  --background2: #c8bfa3;
}

/* Hide Class */
.hide {
  display: none !important;
}

body {
  font-family: 'Poppins', sans-serif;
  line-height: 1.6;
  background: linear-gradient(90deg, var(--background), var(--background2));
  color: var(--dark-color);
}

/* Font Sizes & Styles */
.heading {
  text-transform: uppercase;
  font-weight: bold;
  color: var(--dark-color);
}

.news {
  color: var(--dark-color);
  text-transform: uppercase;
  font-size: 1.5rem;
  padding: 1rem;
}

.border {
  display: flex;
  justify-content: center;
  align-content: center;
  text-align: center;
  width: 95%;
  border: 4px solid var(--dark-color);
  border-radius: 1rem;
  margin: 2rem 0;
}

.big {
  font-size: 3rem;
  letter-spacing: 3px;
}

.bitch {
  padding: 2rem 1.5rem;
  letter-spacing: 1px;
}

.align-heading {
  display: flex;
  justify-content: center;
  text-align: center;
  padding-top: 2rem;
}

/* Button */
.btn {
  cursor: pointer;
  padding: 1rem 1.5rem;
  border: none;
  outline: none;
  background-color: var(--dark-color);
  color: #fff;
  border-radius: 1rem;
  font-size: 1.5rem;
  margin-top: 3rem;
  transition: opacity 0.4s ease-in-out;
}

.btn:hover {
  opacity: 0.85;
}

/* Footer */
footer {
  display: grid;
  place-items: center;
  padding: 1rem;
}

/* Upgrades */
.upgrades {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  padding: 2rem 1rem;
}

.upgrade-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 4px solid var(--dark-color);
  border-radius: 1rem;
  padding: 1rem;
}

/* Navbar */
nav {
  height: 10vh;
}

.nav-list {
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
}

.nav-item {
  padding: 1rem;
}

.nav-link {
  cursor: default;
  font-size: 1.5rem;
  text-decoration: none;
  color: var(--dark-color);
  font-weight: bold;
}

/* Main Style */
.main {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 1rem;
}

/* Item */
.item {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 4px solid var(--dark-color);
}

.item:first-child {
  grid-column: span 2;
  border-right: none;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}

.item:last-child {
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.item-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem 0;
}

/* Other Styles */
.grid {
  display: grid;
  grid-template-columns: 1fr;
}

i {
  cursor: pointer;
  font-size: 4rem;
  padding: 1rem;
  transition: transform 300ms ease-in-out;
}

i:hover {
  transform: scale(1.1);
}

/* Number */
.number {
  position: absolute;
  right: 0px;
}

.grid .position {
  position: relative;
  margin-right: 2rem;
}

/* Main Click Element */
.main-element {
  cursor: pointer;
  width: 21rem;
  height: auto;
  transition: transform 0.3s ease;
}

.main-element:hover {
  transform: scale(1.01);
}

/* Animation */
@keyframes grow {
  to {
    transform: scale(1);
  }

  from {
    transform: scale(0);
  }
}

@keyframes animate {
  to {
    transform: scale(1);
  }

  from {
    transform: scale(1.03);
  }
}

@keyframes hidden {
  to {
    opacity: 0;
    transform: translateY(-15px);
  }

  from {
    opacity: 1;
    transform: translateY(0);
  }
}

.click-animation {
  color: var(--dark-color);
  font-size: 2.2rem;
  z-index: 5;
  opacity: 0;
}

.animate {
  animation: animate 0.1s ease;
}

.grow {
  animation: grow 0.1s ease-in-out;
}

.hidden {
  animation: hidden 0.1s ease;
}

/* Responsive */
@media (max-width: 1300px) {
  .upgrades {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 1050px) {
  .upgrades {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  /* Main Styles */
  .main-element {
    width: 15rem;
    height: auto;
    padding-bottom: 2rem;
  }

  .main {
    grid-template-columns: 1fr;
  }

  .grid {
    padding-bottom: 3rem;
  }

  /* Item  */
  .item-container:first-child {
    padding-top: 2rem;
  }

  .item:first-child {
    padding: 2rem;
    border-right: 4px solid var(--dark-color);
    border-bottom: none;

    /* Border Radius */
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 0;
  }

  .item:last-child {
    /* Border Radius */
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
    border-top-right-radius: 0;
  }

  /* Nav */
  nav {
    height: 100%;
  }

  .nav-list {
    flex-direction: column;
    text-align: center;
  }

  .nav-link {
    font-size: 1.2rem;
  }

  /* Headings */
  .heading {
    margin-bottom: 1rem;
  }

  .bitch {
    display: none;
  }

  /* Animation */
  @keyframes animate {
    to {
      transform: scale(1);
    }

    from {
      transform: scale(1.1);
    }
  }

  /* Click Animation */
  .click-animation {
    top: 0;
    font-size: 2rem;
  }

  /* Footer */
  footer {
    display: none;
  }

  /* Button */
  .btn {
    margin-top: 1.5rem;
  }

  /* Upgrades */
  .upgrades {
    grid-template-columns: 1fr;
  }

  /* Flex */
  .item-container {
    flex-direction: column;
  }

  .grid .position {
    margin-right: 0;
  }
}
