@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
  user-select: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Variables */

:root {
  --dark-color: #222;
  --background: #bfb493;
  --white: #fff;
}

body {
  font-family: 'Poppins', sans-serif;
  line-height: 1.6;
  background-color: var(--background);
  color: var(--dark-color);
}

.p {
  padding: 1rem;
}

.heading {
  text-transform: uppercase;
  font-weight: bold;
  color: var(--dark-color);
}

/* Navbar */

nav {
  height: 10vh;
}

.nav-list {
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
}

.nav-item {
  padding: 1rem;
}

.nav-link {
  font-size: 1.5rem;
  text-decoration: none;
  color: var(--dark-color);
  font-weight: bold;
}

/* Main Style */

.main {
  height: 90vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 1rem;
}

/* Item */

.item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 3px solid var(--dark-color);
}

.item:first-child {
  grid-column: span 2;
  border-right: none;
}

.item-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* Other Styles */

.grid {
  display: grid;
  grid-template-columns: 1fr;
}

i {
  cursor: pointer;
  font-size: 4rem;
  padding: 1rem;
}

/* Main Click Element */

.main-element {
  cursor: pointer;
  width: 25rem;
}

/* Animation */

@keyframes animate {
  to {
    transform: scale(1);
  }

  from {
    transform: scale(1.02);
  }
}

.animate {
  animation: animate 0.1s ease;
}

/* Responsive */

@media (max-width: 768px) {
  /* Main Styles */
  .main-element {
    width: 15rem;
    padding-bottom: 2rem;
  }

  .main {
    grid-template-columns: 1fr;
    height: 100%;
  }

  .grid {
    padding-bottom: 3rem;
  }

  /* Item  */

  .item-container:first-of-type {
    padding-top: 2rem;
  }

  .item:first-of-type {
    padding: 2rem;
    border-right: 3px solid var(--dark-color);
    border-bottom: none;
  }

  /* Nav & Heading */

  nav {
    height: 100%;
  }

  .nav-list {
    flex-direction: column;
    text-align: center;
  }

  .nav-link {
    font-size: 1.2rem;
  }

  .heading {
    margin-bottom: 1rem;
  }
}
